.style1 {       /* digunakan untuk memanggil class yang tersedia di dokumen html */
        color: red;         /* digunakan untuk mengatr warna border */
        font-style: italic;    /* untuk mengatur font tulisan */
        }
#style2 {       /* digunakan untuk memanggil class yang tersedia di dokumen html */
        color: blue; /* untuk mengatur warna */
        font-weight: bold;  /* untuk mengatur lebar dan ketebalan */
        }
.border1 {      /* digunakan untuk memanggil class yang tersedia di dokumen html */
        border: 1px solid red;      /*  untuk mengatur garis pada border dan warna garis pada border */
        color: green;               /* digunakan untuk mengatur warna borderaz111*/
        font-family: 'Times New Roman', Times, serif;   /*  Untuk mengatur font */
        font-size: 18px;                                /* untuk mengatur ukurant font */
        font-style: normal;                             /* untuk mengatur style pada font*/
        font-weight: bold;                              /* untuk membuat font menjadi bold*/
        text-decoration: none;
        line-height: 36px;                              /* untuk mengatur height pada garis*/
        padding: 10px 20px 20px 10px;                   /* untuk mengatur jarak border menuju tulisan*/
    }
.border2 {      
        border: 1px dashed red;                     /* digunakan untuk ukuran border dan warna border*/
        color: black;                               /* digunakan untuk memberi warna pada border */
        padding: 10px;                                 /*untuk mengatur jarak border menuju tulisan */
    }
#list1 ul {
    width: 200px;                                       /* untuk mengatur lebar border */
    list-style-type: none;                              
    padding: 0; margin: 0;  
}
#list1 a:link, #list1 a:visited, #list1 a:active {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
#list1 a {
    padding: 5px 0px 15px 5px display: block;
    background: #6cae16 no-repeat left center;
    margin: 0px 0px 1px color: #ffffff:
}
#list1 a:hover {
    background: #5e9711 no-repeat left center; color: #ffffff
}
.box1 {
    float: left;
    width: 300px;
    height: 50px;
    background: grey;
    border: 1px solid red;
    }
.box2 {
    float: right;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid red;
    }
.box3 {
    clear: both;
    width: 300px;
    height: 50px;
    background: grey; 
    border: 1px solid red;
}
.round {
    background-color: #ddccb5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #897048;
    padding: 10px;
    width: 310px;
    }