.style1 {   /*  digunakan untuk memanggil class yang telah dibuat dalam dokumen html */
    background-color: #ddccb5;            /* untuk membuat style background dengan mengubah warna */
    -moz-border-radius: 50px;               /* digunakan untuk memberi radius atau kelengkungan pada border */
    -webkit-border-radius: 50px;
    border: 2px solid #897048;            /* untuk memberi garis border dan warna pada garis border*/
    padding: 10px;                          /* digunakan untuk mengatur jarak dari border sampai tulisan/isi border */
    width: 310px;                           /* digunakan untuk mengatur lebar border*/
    font-style: oblique;                    /* digunakan untuk mengatur font pada tulisan dalam border */
}
.style2 {   /*  digunakan untuk memanggil class yang telah dibuat dalam dokumen html */
    background-color: rgb(28, 22, 141);       /* untuk membuat style background dengan mengubah warna */
    -moz-border-radius: 50px;                   /* digunakan untuk memberi radius atau kelengkungan pada border */
    -webkit-border-radius: 50px;    
    border: 2px solid #897048;                /*  untuk memberi garis border dan warna pada garis border*/
    padding: 10px;                              /* digunakan untuk mengatur jarak dari border sampai tulisan/isi border */
    width: 310px;                               /* digunakan untuk mengatur lebar border */
    font-style: oblique; color: aliceblue;    /* digunakan untuk mengatur font pada tulisan dalam border */
    border-radius: 5px 20px 5px ;               /*  digunakan untuk memberi radius secara custom hanya pada beberapa sisi */
}
.style3 {   /*  digunakan untuk memanggil class yang telah dibuat dalam dokumen html */
    background-color: grey;                   /* untuk membuat style background dengan mengubah warna */
    -moz-border-radius: 50px;                   /* digunakan untuk memberi radius atau kelengkungan pada border */
    -webkit-border-radius: 50px;                
    border: 2px solid #897048;                /*  untuk memberi garis border dan warna pada garis border*/
    padding: 10px;                              /* digunakan untuk mengatur jarak dari border sampai tulisan/isi border */
    width: 310px;                               /* digunakan untuk mengatur lebar border */
    font-style: oblique;                        /* digunakan untuk mengatur font pada tulisan dalam border */
}
.style4 {   /*  digunakan untuk memanggil class yang telah dibuat dalam dokumen html */
    background-color: #ddccb5;                /* untuk membuat style background dengan mengubah warna */
    -moz-border-radius: 360px;                  /* digunakan untuk memberi radius atau kelengkungan pada border */
    -webkit-border-radius: 50px;
    border: 2px solid #897048;                /*  untuk memberi garis border dan warna pada garis border*/
    padding: 35px;                              /* digunakan untuk mengatur jarak dari border sampai tulisan/isi border */
    width: 30px;                                /* digunakan untuk mengatur lebar border */
    font-style: oblique;                        /* digunakan untuk mengatur font pada tulisan dalam border */
    border-radius: 50;                          /* Digunakan untuk mengatur kelengkungan atau radius pada border */ 
    position: right ;                           /* Digunakan untuk mengatur posisi border pada page */
}
.style5 {   /*  digunakan untuk memanggil class yang telah dibuat dalam dokumen html */
    background-color: rgb(17, 124, 48);     /*  Digunakan untuk mengatur background dengan mengubah warna background pada border*/
    -webkit-border-radius: 50px;              
    border: 2px solid #897048;                  /* digunakan untuk memberi garis pada border dan memberi ukuran serta warna pada garis */
    padding: 10px;                                /* digunakan untuk mengatur jarak dari border sampai tulisan/ content*/
    width: 310px;                                 /* digunakan untuk mengatur lebar border */
    font-style: lucida ; color: aliceblue;      /* digunakan untuk mengatur font tulisan pada border dan warna tulisan. */
    box-shadow: 7px 7px 7px rgba(0,0,0,0.8);    /* digunakan untuk membuat box shadow atau bayangan pada border. */
    padding: 10px;                                /* Digunakan untuk mengatur jarak dari border sampai tulisan atau content pada border*/
    border: 1px dashed grey;                   /* Digunakan untuk mengatur ketebalan border dan warna pada border. */
}

